<div class="container">
  <div class="container-left">
    <div class="wrapper-left">
      <div class="part-one">
        <h3>Get started</h3>
        <p>Lets create your account</p>
      </div>
      <div class="inp">
        <form action="">
          <label for="" class="email">E-mail </label>
          <i class="fas fa-envelope envelope"></i>
          <input class="inp-left" type="email" placeholder="mhmmd.rezaei4@gmail.com"/>
          <br>
          <br>
          <label for="" class="pass">Password </label>
          <i class="fas fa-lock pass"></i>
          <input class="inp-left" type="password" placeholder="8+ characters, 2 numbers" name="" id=""/>
        </form>
      </div>
      <div class="down">
        <a href="#"> Sign Up </a>
      </div>
    </div>
  </div>
</div>
